WebContent/WEB-INF/wsdl/PersonServiceImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#IBM 2.2.10-06/29/2016 1:26:42 PM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://SoapExample.johannes.com/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonServiceImplService" targetNamespace="http://SoapExample.johannes.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://SoapExample.johannes.com/" schemaLocation="PersonServiceImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="addPerson">
    <part element="tns:addPerson" name="parameters"/>
  </message>
  <message name="addPersonResponse">
    <part element="tns:addPersonResponse" name="parameters"/>
  </message>
  <message name="deletePerson">
    <part element="tns:deletePerson" name="parameters"/>
  </message>
  <message name="deletePersonResponse">
    <part element="tns:deletePersonResponse" name="parameters"/>
  </message>
  <message name="getPerson">
    <part element="tns:getPerson" name="parameters"/>
  </message>
  <message name="getPersonResponse">
    <part element="tns:getPersonResponse" name="parameters"/>
  </message>
  <message name="getAllPersons">
    <part element="tns:getAllPersons" name="parameters"/>
  </message>
  <message name="getAllPersonsResponse">
    <part element="tns:getAllPersonsResponse" name="parameters"/>
  </message>
  <portType name="PersonServiceImplDelegate">
    <operation name="addPerson">
      <input message="tns:addPerson" wsam:Action="http://SoapExample.johannes.com/PersonServiceImplDelegate/addPersonRequest"/>
      <output message="tns:addPersonResponse" wsam:Action="http://SoapExample.johannes.com/PersonServiceImplDelegate/addPersonResponse"/>
    </operation>
    <operation name="deletePerson">
      <input message="tns:deletePerson" wsam:Action="http://SoapExample.johannes.com/PersonServiceImplDelegate/deletePersonRequest"/>
      <output message="tns:deletePersonResponse" wsam:Action="http://SoapExample.johannes.com/PersonServiceImplDelegate/deletePersonResponse"/>
    </operation>
    <operation name="getPerson">
      <input message="tns:getPerson" wsam:Action="http://SoapExample.johannes.com/PersonServiceImplDelegate/getPersonRequest"/>
      <output message="tns:getPersonResponse" wsam:Action="http://SoapExample.johannes.com/PersonServiceImplDelegate/getPersonResponse"/>
    </operation>
    <operation name="getAllPersons">
      <input message="tns:getAllPersons" wsam:Action="http://SoapExample.johannes.com/PersonServiceImplDelegate/getAllPersonsRequest"/>
      <output message="tns:getAllPersonsResponse" wsam:Action="http://SoapExample.johannes.com/PersonServiceImplDelegate/getAllPersonsResponse"/>
    </operation>
  </portType>
  <binding name="PersonServiceImplPortBinding" type="tns:PersonServiceImplDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="addPerson">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deletePerson">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPerson">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllPersons">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PersonServiceImplService">
    <port binding="tns:PersonServiceImplPortBinding" name="PersonServiceImplPort">
      <soap:address location="http://localhost:9080/SOAPExample/PersonServiceImplService"/>
    </port>
  </service>
</definitions>
